<footer>
  <div class="gradient-overlay"></div>
  <div class="social-icons">
    <a href="#" ><img src="assets/icons/Mail.svg" alt="Mail" /></a>
    <a href="#"><img src="assets/icons/Phone.svg" alt="Phone" /></a>
    <a href="#"><img src="assets/icons/Github.svg" alt="Github" /></a>
    <a href="#"><img src="assets/icons/Instagram.svg" alt="Instagram" /></a>
    <a href="#"><img src="assets/icons/Linkedin.svg" alt="LinkedIn" /></a>
    <a href="#"><img src="assets/icons/Facebook.svg" alt="Facebook" /></a>
    <a href="#"><img src="assets/icons/Globe.svg" alt="Globe" /></a>
  </div>
</footer>
