<div class="home-container" #homeContainer>
    <div class="background-image"></div>
    <div class="black-overlay"></div>
    <app-navigation (logoClick)="handleLogoClick()"></app-navigation>
    
      <section class="about-content-section">
        <div class="about-text-container">
          <h1>About Me</h1>
          <p>
            This is the content for the About Me page. You can add your biography, professional journey, skills, philosophies, etc., here.
          </p>
          <p>
            Make this section engaging and reflective of who you are. Tell your story!
          </p>
          <!-- Add more paragraphs or content elements as needed -->
        </div>
        <!-- Optional: Add an image or other visual elements for the about section -->
        <!-- <div class="about-image-container">
          <img src="path/to/your/about/image.jpg" alt="About Image">
        </div> -->
      </section>
    
      <app-footer></app-footer> <!-- Include the footer -->
    
    </div>