<header>
  <div class="menu-icon" [ngClass]="{ open: isMenuOpen }" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <nav [ngClass]="{ open: isMenuOpen }">
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">HOME</a></li>
      <li><a routerLink="/about" routerLinkActive="active">ABOUT</a></li>
      <li><a routerLink="/resume" routerLinkActive="active">RESUME</a></li>
      <li class="portfolio-dropdown" [class.open]="isSubmenuOpen" (click)="toggleSubmenu($event)">
        <a>
          PORTFOLIO
          <span class="dropdown-arrow" [class.open]="isSubmenuOpen">&#9660;</span>
        </a>
        <ul class="dropdown-menu" [class.open]="isSubmenuOpen">
          <li><a routerLink="/programming" routerLinkActive="active">PROGRAMMING</a></li>
          <li><a routerLink="/digital-art" routerLinkActive="active">DIGITAL ART</a></li>
          <li><a routerLink="/cgi" routerLinkActive="active">CGI</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="logo-container">
    <img src="assets/images/logo.png" alt="Your Logo" class="logo" (click)="navigateToEasterEgg()" />
  </div>
</header>

